@model (PrimeMultiplication.MultiplicationTable Table, System.Threading.CancellationToken Timeout)

@section head {
    <style>
        table {
            font-size: 50px;
            border-collapse: collapse;
            text-align: center;
        }

        tr:nth-child(even) td:not(:first-child) {
            background-color: rgba(0, 0, 0, 0.2);
        }

        td {
            padding: 10px 20px;
            background-color: white;
        }

            tr:first-child td,
            td:first-child {
                filter: invert(1);
                position: sticky;
            }

        tr:first-child td {
            top: 0;
        }

        tr:not(:first-child) td {
            left: 0;
        }
    </style>
}

<table>
    @await foreach (var row in this.Model.Table.WithCancellation(this.Model.Timeout))
    {
        <tr>
            @await foreach (var cell in row)
            {
                <td>@cell</td>
            }
        </tr>
    }
</table>
